*{
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: #D0DFFF; /* rgb(208, 223, 255) */

}


/* this will make over cursor as pointer when we hove over the choices. */
.choice:hover {
    opacity: 0.7;
    cursor: pointer;
}

/* Game heading h1 give it some styling.... */
h1 {
    background-color: rgb(11,37,69);
    color:whitesmoke;
    height: 5rem;
    line-height: 5rem;
}


/* Give height and width to our divs inside choices div.. */
.choice {
    height: 170px;
    width: 170px;
    /* background-color:hsl(225, 100%, 89%) */
}

img{
    height: 150px;
    width: 150px;
    object-fit: cover;
    border-radius: 50%;
}


/* it's our main div inside this our choices are present */
.choices {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    margin-top: 5rem;
}

.scoreBoard {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size : 1.5rem;
    margin-top: 2rem;
    gap: 4rem;
}

#playerScore ,#compScore {
    font-size: 3rem;
}


.msg-container {
    margin-top: 2rem;
}
#msg {
    background-color: rgb(11,37,69);
    color:whitesmoke;
    font-size: 1.5rem;
    padding: 1rem;
    border-radius:1rem;
    display:inline;
   
    
}
